<div class="modal fade" id="add_file_modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="" style="margin: 10px">
            <h2 class="title-v4"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Добавить файл XML</span></span></h2>
        </div>

        <form class="analytic_form" id='form-add-xml-file' method="post" enctype="multipart/form-data">
            <p class="fieldset_execut input-form col-md-12">
                <label for="file_xml">Фыберите файл XML:</label>
                <input type="file" id="id_file-xml" name="file-xml">
                <span class="cd-error-message"></span>
            </p>
            <input type="submit" value="Сохранить" name="file_xml_add">
        </form>
    </div>
  </div>
</div>