<div class="modal fade" id="notification_modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">

        <button onclick="window.location.reload();" type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: 5px" id="close-not">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="" style="margin: 10px">
            <h2 id="text-notific" class="title-v4"></h2>
            <div id="text-message"></div>
            <button onclick="window.location.reload();" class="full-width" type="submit" id="submit-not">ОК</button>
        </div>
    </div>
  </div>
</div>